# Copia este archivo como ".env" y rellena tus valores.
# EMPIEZA SIEMPRE con claves de TEST (sk_test_...) hasta que todo funcione.

STRIPE_SECRET_KEY=sk_test_pega_aqui_tu_clave_secreta
STRIPE_WEBHOOK_SECRET=whsec_pega_aqui_el_secreto_del_webhook
PLATFORM_FEE_PERCENT=5
SUCCESS_URL=https://tudominio.com/#/gracias
CANCEL_URL=https://tudominio.com/#form
PORT=3000
